
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #f4b400;
}
header h2 {
    color: #f4b400;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
	margin-bottom: 40px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.hero {
    background-image: url('Imperium.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 512px 20px;
    text-align: center;
}
.coctel {
    background-image: url('coctel.png');
    background-size: cover;
    background-position: center;
    color: #2b2b2b;
    padding: 290px 10px;
    text-align: center;
}
.cervezas-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  place-items: center;
  padding: 40px 20px;
}

.cervezas-grid h2 {
  grid-column: span 2;
  text-align: center;
  color: #f4b400;
  margin-bottom: 20px;
}

.cervezas-grid div p {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: white;
  margin: 10px 0;
}

.cervezas-grid div p span:first-child {
  padding-right: 30px; /* espacio fijo adicional entre nombre y precio */
}
/* Opcional: añadir los precios como spans 
.cervezas-grid div p::after {
  content: attr(data-precio);
  margin-left: auto;
}*/

section {
    padding: 60px 20px;
}

footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
}



